.monitor 
{
    background-image: url("Monitor BG.png");
    width: 1254px;
    height: 758px;
    justify-content: center;
}
.keyboard
{
    
    width:100%;
    height: auto;
}
.majorbox
{
    box-sizing: border-box;
    
    border: solid grey 2px;
    padding: 0px 20px 20px 20px;
    border-radius:30px;
    background-color: black;
    display: inline-block;;
}
.majorbox1
{
    box-sizing: border-box;
    
    border: solid grey 2px;
    padding-top: 0px;;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius:30px;
    background-color: black;
    display: inline-block;
}
.camera_container{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.rotate-text
{
    display:inline-flex;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(-45deg);
}

.joiner{
    display: flex;
    justify-content: space-between;
}
.circle-container{
    display: flex;
    justify-content: flex-end;
}
.circle{
    
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid grey;
    box-sizing: border-box;
    box-shadow: 0 0 10px inset grey;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    
}
.circle::after{
    height: 50%;
    width: 2px;
    background: white;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
}
.double-line-container{
    display: flex;
    flex-direction: column;
}
.dual-entire-line{
    display: flex;
}
.keyline{
    display: flex;
}
.emptybox1
{
    width: 60px;
    height: 30px;
    box-sizing: content-box;
    box-shadow: 0 0 30px inset grey;
    border-radius:3px;
    border: 2px solid;
    border-color: grey;
    margin-left: 50px;

}
.emptybox2
{
    width: 60px;
    height: 30px;
    box-sizing: content-box;
    box-shadow: 0 0 30px inset grey;
    border-radius:3px;
    border: 2px solid;
    border-color: grey;
    margin-right: 50px;
    
    }

.key
{
   
    box-sizing: border-box;
    box-shadow: 0 0 20px inset red;
    border-radius:5px;
    border: 2px solid;
    border-color: red;
    margin: 3px;
    padding: 10px;
    display: inline-block;
    width: 60px;
    height: 50px; 
    align-items: center;
    text-align: center;
    color: white;
}
.doble_line_key
{
    padding: 3px;
}
.Fkey
{
    width: 55px;
    padding: 3px;
}
.specialkey
{
    width: 70px;
    padding: 3px;
}
.break{
    display: block;
    height:1px;
    Width: 100%;
    
}
.key.Backspace
{  
    width: 127px;
}
.key.Tab
{    
    width: 97px;
}
.key.Caps
{      
    width: 110px;    
}
.key.Enter
{      
    width: 123px;    
}
.plus{
    height: 106px;
}
.long-enter{
    height: 106px;
}
.shift-left
{      
    width: 123px;    
}
.shift-right
{      
    width: 100px;    
}
.ctrl
{
    width: 100px;
}
.ctrl-right{
    width: 109px;
}
.spacebar{
    width: 302px;
}
.label
{
    color: white;
    margin-top: 10px;
}
.mouse-pad-container
{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.mousepad
{
    height: 200px;
    width:  350px;
    border: 2px grey;
    box-shadow: 0 0 2px inset;
    background-color: grey;
    border-radius: 5px;
    position: relative;
    justify-content: center;
}
.mousepad::after
{
    height: 15%;
    width: 2px;
    background: rgb(168, 165, 165);
    content: " ";
    position: absolute;
    top: 80%;
    left: 50%;

}
.mousepad-intel-container
{
    display: flex;

}
.intel-container
{
    display: grid;
    grid-column: 1;
    grid-row: 5;

}
.intel
{
   height: 50px;;
    width: 50px;
    background-color: white;
    grid-row-start: 5;
    
}
p{
    margin: 0px;
    line-height: 4em%;
    top: 50%;
}